menuconfig MODULES_ASP5033
	bool "asp5033"
	default n
	---help---
		Enable support for asp5033

menuconfig USER_ASP5033
	bool "asp5033 running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_ASP5033
	---help---
		Put asp5033 in userspace memory
